.formulario {
  padding: 80px 20px;
  background: var(--black);
  color: var(--text-color);
}
.formulario__container {
  max-width: 440px;
  margin: 0 auto;
}
.formulario__top {
  text-align: center;
}
.formulario__top h2 {
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.formulario__top p {
  font-weight: 500;
  font-size: 18px;
}
.formulario__form {
  margin-top: 40px;
  width: 100%;
  display: flex;
  padding-bottom: 5px;
  border-bottom: 3px solid var(--text-color);
  column-gap: 10px;
  -webkit-column-gap: 10px;
}
.formulario__form input {
  font-size: 20px;
  flex: 1;
  color: var(--text-color);
  padding: 10px 0;
  font-weight: 500;
}
.formulario__form input::placeholder {
  color: var(--text-color);
}
.formulario__form button {
  color: var(--text-color);
}
