@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-width: 360px;
}
img,
video,
button,
a,
svg,
input {
  user-select: none;
}
::selection {
  background-color: #000;
  color: #fff;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes translateLeftToRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/* banner */
.banner:after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 32%, rgba(0, 0, 0, 0.3) 49%, rgba(0, 0, 0, 0) 100%);
}
.overlay:after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* 30% isquierda y derecha oscuro y en centro un poco transparente */
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 32%, rgba(0, 0, 0, 0.3) 49%, rgba(0, 0, 0, 0) 100%);
}
/* custom-grid-3 */
.custom-grid-3 {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
}
