@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-pagination-color: #000;
}

body {
  min-width: 360px;
}
main {
  min-height: calc(100vh - 70px - 70px);
}
img,
video,
button,
a,
svg,
input {
  user-select: none;
}

input,
input:focus,
textarea,
textarea:focus,
select,
select:focus,
button,
button:focus {
  outline: none;
}

::selection {
  background-color: #000;
  color: #fff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes translateLeftToRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/* banner */
.banner:after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 32%, rgba(0, 0, 0, 0.3) 49%, rgba(0, 0, 0, 0) 100%);
}
.overlay:after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* 30% isquierda y derecha oscuro y en centro un poco transparente */
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 32%, rgba(0, 0, 0, 0.3) 49%, rgba(0, 0, 0, 0) 100%);
}
/* custom-grid-3 */
.custom-grid-3 {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
}
/* carts-items */
.carts-items article:last-child {
  border: none;
}

/* input */
.form-text-focus input:focus ~ label,
.form-text-focus input:focus-visible ~ label,
.form-text-focus input:focus-within ~ label,
.form-text-focus select:focus ~ label,
.form-text-focus select:focus-visible ~ label,
.form-text-focus select:focus-within ~ label,
.form-text-focus textarea:focus ~ label,
.form-text-focus textarea:focus-visible ~ label,
.form-text-focus textarea:focus-within ~ label,
.form-text-focus label.active {
  font-size: 12px;
  transform: translateY(-16px);
}
